*.orig
*.py[cod]
*.mat
*.hdf5
*.edf
*.orig

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# WAV files
*.wav

# Due to examples
examples/data
data

doc/_build/
doc/build/
doc/auto_examples/
doc/modules/generated/
doc/source/generated/
doc/source/auto_examples/

# virtualenv
env/

# Gedit autosave files
*~

