language: python

python:
    - "2.7"

virtualenv:
    system_site_packages: true

before_install:
    # Pylink
    - wget --no-check-certificate https://lester.ilabs.uw.edu/expyfun/pylink4python2.7_linux_x64.tar.gz
    - tar xzf pylink4python2.7_linux_x64.tar.gz
    - mv pylink4python2.7_linux_x64/pylink2.7 pylink4python2.7_linux_x64/pylink
    # sudo mv pylink4python2.7_linux_x64/pylink /usr/lib/python2.7/
    - echo "deb http://archive.canonical.com/ lucid partner" | sudo tee -a /etc/apt/sources.list
    - echo "deb http://download.sr-support.com/x64 /" | sudo tee -a /etc/apt/sources.list
    # Easy dependencies
    - travis_retry sudo apt-get update -qq
    # travis_retry sudo apt-get upgrade -y
    # travis_retry sudo apt-get install -qq -y --force-yes eyelink-display-software1.9 menu-xdg
    # python -c 'import pylink; pylink.EyeLink(None); print("good")'
    - travis_retry sudo apt-get install -qq -y python-nose python-coverage python-scipy python-matplotlib python-pandas
    - travis_retry sudo pip install coveralls nose-timer https://pyglet.googlecode.com/files/pyglet-1.2alpha1.zip
    # Pyo (not in Precise system packages, so take from Quantal)
    - travis_retry sudo apt-get install -qq -y libsndfile1 libportaudio2 libportmidi0 liblo7 jackd2
    - travis_retry wget -q http://mirrors.kernel.org/ubuntu/pool/universe/p/python-pyo/python-pyo_0.6.2-1_amd64.deb
    - sudo dpkg -i python-pyo_0.6.2-1_amd64.deb
    - sudo usermod -G $(groups | tr " " ","),audio $USER

install:
    - python setup.py install
    - SRC_DIR=${PWD}
    - cd ~
    - EXPYFUN_DIR=$(python -c 'import expyfun;print(expyfun.__path__[0])')
    - ln -s ${SRC_DIR}/setup.cfg ${EXPYFUN_DIR}/../setup.cfg
    - ln -s ${SRC_DIR}/.coveragerc ${EXPYFUN_DIR}/../.coveragerc
    # Link coverage to src dir, coveralls should be run from there (needs git calls)
    - ln -s ${EXPYFUN_DIR}/../.coverage ${SRC_DIR}/.coverage

before_script:
    # We need to create a (fake) display on Travis, let's use a funny resolution
    - export DISPLAY=:99.0
    - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset
    # Now we start jackd: no realtime, dummy mode
    - /usr/bin/jackd --silent --no-mlock --no-realtime -d dummy &

script:
    - cd ${EXPYFUN_DIR}/../
    # Note that this gets executed OUTSIDE the source'd virtualenv, but it's
    # okay since we installed external packages as `sudo`.
    - sudo -E su $USER -c 'nosetests -s --with-timer --timer-top-n=5'

after_success:
    - cd ${SRC_DIR}
    - coveralls
