language: python

python:
    - "2.7"

virtualenv:
    system_site_packages: true

before_install:
    # Easy dependencies
    - travis_retry sudo apt-get update -qq
    - travis_retry sudo apt-get install -qq -y python-nose python-coverage python-scipy python-matplotlib python-pandas
    - travis_retry sudo pip install -q coveralls nose-timer http://pyglet.googlecode.com/archive/tip.zip
    # Pyo (not in Precise system packages, so take from Quantal)
    - travis_retry sudo apt-get install -qq -y libsndfile1 libportaudio2 libportmidi0 liblo7 jackd2
    - travis_retry wget -q http://mirrors.kernel.org/ubuntu/pool/universe/p/python-pyo/python-pyo_0.6.2-1_amd64.deb
    - sudo dpkg -i python-pyo_0.6.2-1_amd64.deb

install:
    - python setup.py install
    - SRC_DIR=${PWD}
    - cd ~
    - EXPYFUN_DIR=$(python -c 'import expyfun;print(expyfun.__path__[0])')
    - ln -s ${SRC_DIR}/setup.cfg ${EXPYFUN_DIR}/../setup.cfg
    - ln -s ${SRC_DIR}/.coveragerc ${EXPYFUN_DIR}/../.coveragerc
    # Link coverage to src dir, coveralls should be run from there (needs git calls)
    - ln -s ${EXPYFUN_DIR}/../.coverage ${EXPYFUN_DIR}/.coverage

before_script:
    # We need to create a (fake) display on Travis, let's use a funny resolution
    - export DISPLAY=:99.0
    - /sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -screen 0 1400x900x24 -ac +extension GLX +render -noreset
    # Now we start jackd: no realtime, dummy mode
    - /usr/bin/jackd --silent --no-mlock --no-realtime -d dummy &

script:
    - cd ${EXPYFUN_DIR}/../
    # Run with audio group perms for jackd access
    - sudo sudo -u travis -g audio -E "nosetests"

after_success:
    - cd ${SRC_DIR}
    - coveralls
